@import "../../assets/css/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
}

body {
  background: var(--linearColor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.manager-layout {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  overflow: hidden;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 0;
  }

  .sider {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-right: none;
    z-index: 5;
    overflow-y: auto;
    max-height: 100vh;
    max-width: 280px !important;
    flex: content !important;
    .logo {
      width: 150px;
      margin-left: 70px;
    }
    .dashboard, .account {
      padding-left: 5px !important;
      font-weight: 700;
    }

    .ant-menu {
      background: transparent;
      border-right: none;
    }

    .ant-menu-submenu .ant-menu-item {
      padding-left: 20px !important;
      font-weight: 500;
    }
    .ant-menu-submenu-title{
      font-weight: 700;
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
      
      margin-top: 10px;
      color: var(--primaryColor);

      span {
        margin-left: 20px;
      }

      &:hover {
        background-color: var(--menuItemHover);
        border-left: 5px solid var(--lineMenuItemHover);
        border-radius: 0 20px 20px 0;
      }
    }

    .ant-layout-sider-trigger {
      display: none;
    }

    .ant-menu-item-selected {
      background-color: var(--menuItemHover);
      border-left: 5px solid var(--lineMenuItemHover);
      border-radius: 0 20px 20px 0;
      color: var(--primaryColor1);
    }
  }

  .site-layout {
    z-index: 1;
    background: transparent;
    border-radius: 15px;
  }
}

.manage-account {
  display: flex;
  flex-direction: column;
  padding: 10px;
  .header-container {
    display: flex;
    gap: 20px;
  }
}
.feature {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  .btn {
    display: flex;
    gap: 20px;
    margin-left: 10px;
  }
 
}
