:root {
    --primaryColor: #330122;
    --primaryColor1: #5A003B;
    --whiteColor: #ffffff;
    --lightColor: #f8f8fc;
    --darkColor: #7c7c80;
    --blackColor: #000000;
    --blue: #4a50ff;
    --blueActive: #7d81f4;
    --pink: #d74a96;
    --pinkHover: #f076b8;
    --linearColor: linear-gradient(130deg, rgba(255,225,188,1) 29.63%, rgba(255,207,209,1) 51.55%, rgba(243,198,241,1) 90.85%);
    --linearColorHover: linear-gradient(45deg, #fbb677, #da97ba);
    --fontFamily: 'Courier New', Courier, monospace;
    --menuItemHover: #FFD7CB;
    --lineMenuItemHover: #FF9E9A;
    --star: #ff0044;
}