.statistic-basic {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .statistic-basic-content {
    width: 25%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), box-shadow 0.4s cubic-bezier(0.25, 1, 0.5, 1); // Sử dụng cubic-bezier cho hiệu ứng mượt mà hơn

    // Hiệu ứng bóng đổ
    &:hover {
      transform: translateY(-8px); // Di chuyển lên một chút khi hover
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); // Tăng bóng đổ khi hover
    }

    // Hiệu ứng di chuyển khi mở trang
    animation: slideIn 0.7s ease-in-out forwards; // Thay đổi thời gian và easing

    // Đặt độ trễ cho từng phần tử
    &:nth-child(1) { animation-delay: 0.1s; }
    &:nth-child(2) { animation-delay: 0.2s; }
    &:nth-child(3) { animation-delay: 0.3s; }

    .title-statsitic-basic {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
      color: white;
    }

    .value-statistic-basic {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }
}

// Định nghĩa animation
@keyframes slideIn {
  from {
    transform: translateY(-40px); // Bắt đầu từ vị trí trên
    opacity: 0; // Bắt đầu với độ mờ
  }
  to {
    transform: translateY(0); // Kết thúc ở vị trí ban đầu
    opacity: 1; // Kết thúc với độ mờ đầy đủ
  }
}